
@{
    ViewBag.Title = "AracEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Anadolu Rent A Car </strong>Firmasına Araç Ekle</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                    </div>
                    <div class="panel-body form-group-separated">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Araç Marka</label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control select">
                                    <option>Volkswagen</option>
                                </select>
                                <span class="help-block">Marka seçiniz</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Araç Model</label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control select">
                                    <option>Golf</option>
                                </select>
                                <span class="help-block">Model seçiniz</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Model Yılı</label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control select">
                                    <option>2017</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Araç Model Adı</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Silindir Hacmi</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Beygir Gücü</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Şehir İçi Ortalama Tüketim</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Şehir Dışı Ortalama Tüketim</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Karma Yakıt Tüketimi</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Araç Kilometre</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Vites Tipi</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-car"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Yakıt Türü</label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control select">
                                    <option>Benzin</option>
                                    <option>Dizel</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Firma Adresi</label>
                            <div class="col-md-6 col-xs-12">
                                <textarea class="form-control" rows="5"></textarea>
                                <span class="help-block">Firma Adresini Giriniz</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Araç Resmi Yükleyiniz</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="file" class="fileinput btn-primary" name="filename" id="filename" title="Resim Yükle" />
                                <span class="help-block">Logo boyutu 80x80</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Formu Temizle</button>
                        <button class="btn btn-primary pull-right">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

