
@{
    ViewBag.Title = "FiyatEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Anadolu Rent A Car </strong>Firması Volkswagen Golf Yeni 1.0 TSI Comfortline Aracı için Fiyat Bilgisi Ekle </h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                    </div>
                    <div class="panel-body form-group-separated">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Günlük Fiyat</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-turkish-lira"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Haftalık Fiyat</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-turkish-lira"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Aylık Fiyat</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-turkish-lira"></span></span>
                                    <input type="text" class="form-control" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Formu Temizle</button>
                        <button class="btn btn-primary pull-right">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

