
@{
    ViewBag.Title = "AracDetay";
}

<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs text-right">
        <div class="container">
            <div class="page-header">
                <h1>AraÇ BİLGİLERİ</h1>
            </div>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE WITH SIDEBAR -->
    <section class="page-section with-sidebar sub-page">
        <div class="container">
            <div class="row">
                <!-- CONTENT -->
                <div class="col-md-9 content" id="content">

                    <h3 class="block-title alt"><i class="fa fa-angle-down"></i>AraÇ Bİlgİlerİ</h3>
                    <div class="car-big-card alt">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="owl-carousel img-carousel">
                                    <div class="item">
                                        <a class="btn btn-zoom" href="https://www.dogusoto.com.tr/Dosyalar/Model/VW%20BINEK/Alt%20Model%20Gorsel/Yeni%20Golf/tungsten-gri.png" data-gal="prettyPhoto"><i class="fa fa-arrows-h"></i></a>
                                        <a href="https://www.dogusoto.com.tr/Dosyalar/Model/VW%20BINEK/Alt%20Model%20Gorsel/Yeni%20Golf/tungsten-gri.png" data-gal="prettyPhoto"><img class="img-responsive" src="http://inventory-cf.assets-cdk.com/evox/color_0640_032/11715/11715_cc0640_032_0Q0Qx650.jpg" alt="" /></a>
                                    </div>
                                    <div class="item">
                                        <a class="btn btn-zoom" href="~/Content/img/preview/cars/car-600x426x2.jpg" data-gal="prettyPhoto"><i class="fa fa-arrows-h"></i></a>
                                        <a href="~/Content/img/preview/cars/car-600x426x2.jpg" data-gal="prettyPhoto"><img class="img-responsive" src="~/Content/img/preview/cars/car-600x426x2.jpg" alt="" /></a>
                                    </div>
                                    <div class="item">
                                        <a class="btn btn-zoom" href="~/Content/img/preview/cars/car-600x426x1.jpg" data-gal="prettyPhoto"><i class="fa fa-arrows-h"></i></a>
                                        <a href="~/Content/img/preview/cars/car-600x426x1.jpg" data-gal="prettyPhoto"><img class="img-responsive" src="~/Content/img/preview/cars/car-600x426x1.jpg" alt="" /></a>
                                    </div>
                                    <div class="item">
                                        <a class="btn btn-zoom" href="~/Content/img/preview/cars/car-600x426x2.jpg" data-gal="prettyPhoto"><i class="fa fa-arrows-h"></i></a>
                                        <a href="~/Content/img/preview/cars/car-600x426x2.jpg" data-gal="prettyPhoto"><img class="img-responsive" src="~/Content/img/preview/cars/car-600x426x2.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <div class="row car-thumbnails">
                                    <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [0,300]);"><img src="" alt="" /></a></div>
                                    <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [1,300]);"><img src="" alt="" /></a></div>
                                    <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [2,300]);"><img src="" alt="" /></a></div>
                                    <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [3,300]);"><img src="" alt="" /></a></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="car-details">
                                    <div class="list">
                                        <ul>
                                            <li class="title">
                                                <h2>Volkswagen Golf <span>Dizel</span></h2>
                                                1598 cc Comfortline 115 HP
                                            </li>
                                            <li>Dizel</li>
                                            <li>25,000 Km Altında</li>
                                            <li>5 İleri Düz</li>
                                            <li>Şehir İçi Ortalama Tüketim 4.6 lt</li>
                                            <li>Şehir Dışı Ortalama Tüketim 3.8 lt</li>
                                            <li>Karma Yakıt Tüketimi 4.1 lt</li>
                                        </ul>
                                    </div>
                                    <div class="price">
                                        <strong>75</strong> <span>₺/Günlük</span> <i class="fa fa-info-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="page-divider half transparent" />

                    <h3 class="block-title alt"><i class="fa fa-angle-down"></i>Ekstra & Ücretsİz</h3>
                    <form role="form" class="form-extras">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="left">
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxl1" type="checkbox">
                                        <label for="checkboxl1">Baby Seat <span class="pull-right">12 $ /for a day</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxl2" type="checkbox">
                                        <label for="checkboxl2">Car Seat For Childres <span class="pull-right">12 $ /for a day</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxl3" type="checkbox">
                                        <label for="checkboxl3">Navigation <span class="pull-right">42 $ /Total</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxl4" type="checkbox">
                                        <label for="checkboxl4">Excess Protection <span class="pull-right">12 $ /for a day</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxl5" type="checkbox">
                                        <label for="checkboxl5">Additional Driver <span class="pull-right">24 $ /Total</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="right">
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxr1" type="checkbox" checked="">
                                        <label for="checkboxr1">Ful Rent a Car Insures <span class="pull-right">Free</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxr2" type="checkbox" checked="">
                                        <label for="checkboxr2">Wheels and Glass Insures <span class="pull-right">Free</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxr3" type="checkbox" checked="">
                                        <label for="checkboxr3">Taking from Airport <span class="pull-right">Free</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxr4" type="checkbox" checked="">
                                        <label for="checkboxr4">Unlimited Kilometres for ALL cars <span class="pull-right">Free</span></label>
                                    </div>
                                    <div class="checkbox checkbox-danger">
                                        <input id="checkboxr5" type="checkbox" checked="">
                                        <label for="checkboxr5">VAT <span class="pull-right">Included</span></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>

                    <h3 class="block-title alt"><i class="fa fa-angle-down"></i>MÜŞterİ Bİlgİlerİ</h3>
                    <form action="#" class="form-delivery">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio1" value="Bay" name="radioInline" checked="">
                                    <label for="inlineRadio1">Bay</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio2" value="Bayan" name="radioInline">
                                    <label for="inlineRadio2">Bayan</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="fd-name" id="fd-name" title="Name is required" data-toggle="tooltip"
                                           class="form-control alt" type="text" placeholder="Ad Soyad:*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="fd-name" id="fd-email" title="Email is required" data-toggle="tooltip"
                                           class="form-control alt" type="text" placeholder="Email Adresi:*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><input class="form-control alt" type="text" placeholder="Telefon Numarası:"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><input class="form-control alt" type="text" placeholder="Cep Telefonu Numarası:"></div>
                            </div>
                        </div>
                    </form>

                    <h3 class="block-title alt"><i class="fa fa-angle-down"></i>Ödeme</h3>
                    <div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="dot"></span> Kredi Kartı
                                    </a>
                                    <span class="overflowed pull-right">
                                        <img src="~/Content/img/preview/payments/mastercard-2.jpg" alt="" />
                                        <img src="~/Content/img/preview/payments/visa-2.jpg" alt="" />
                                        <img src="~/Content/img/preview/payments/american-express-2.jpg" alt="" />
                                        <img src="~/Content/img/preview/payments/discovery-2.jpg" alt="" />
                                        <img src="~/Content/img/preview/payments/eheck-2.jpg" alt="" />
                                    </span>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                <form action="#" class="form-delivery">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="fd-name" id="fd-name" title="Name is required" data-toggle="tooltip"
                                                       class="form-control alt" type="text" placeholder="Ad Soyad:*">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="fd-name" id="fd-email" title="Email is required" data-toggle="tooltip"
                                                       class="form-control alt" type="text" placeholder="Email Adresi:*">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input class="form-control alt" type="text" placeholder="Telefon Numarası:"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input class="form-control alt" type="text" placeholder="Cep Telefonu Numarası:"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <h3 class="block-title alt"><i class="fa fa-angle-down"></i>YORUM EKLE</h3>
                    <form action="#" class="form-additional">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="fad-message" id="fad-message" title="Addition information is required" data-toggle="tooltip"
                                              class="form-control alt" placeholder="Yorum" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="overflowed reservation-now">
                        <div class="checkbox pull-left">
                            <input id="accept" type="checkbox" name="fd-name" title="Please accept" data-toggle="tooltip">
                            <label for="accept">Sözleşme şartlarını kabul ediyorum.</label>
                        </div>
                        <a class="btn btn-theme pull-right btn-reservation-now" href="#">Yorum Ekle</a>
                        <a class="btn btn-theme pull-right btn-cancel btn-theme-dark" href="#">İptal</a>
                    </div>

                </div>
                <!-- /CONTENT -->
                <!-- SIDEBAR -->
                <aside class="col-md-3 sidebar" id="sidebar">
                    <!-- widget detail reservation -->
                    <div class="widget shadow widget-details-reservation">
                        <h4 class="widget-title">Rezervasyon Detayı</h4>
                        <div class="widget-content">
                            <h5 class="widget-title-sub">Teslim Alınacak Konumu</h5>
                            <div class="media">
                                <span class="media-object pull-left"><i class="fa fa-calendar"></i></span>
                                <div class="media-body"><p>15 Kasım 2017 / 08:00</p></div>
                            </div>
                            <div class="media">
                                <span class="media-object pull-left"><i class="fa fa-location-arrow"></i></span>
                                <div class="media-body"><p>Havaalanı</p></div>
                            </div>
                            <h5 class="widget-title-sub">Teslim Etme Konumu</h5>
                            <div class="media">
                                <span class="media-object pull-left"><i class="fa fa-calendar"></i></span>
                                <div class="media-body"><p>16 Kasım 2017 / 08:00</p></div>
                            </div>
                            <div class="media">
                                <span class="media-object pull-left"><i class="fa fa-location-arrow"></i></span>
                                <div class="media-body"><p>Havaalanı</p></div>
                            </div>
                            <div class="button">
                                <a href="#" class="btn btn-block btn-theme btn-theme-dark">Rezervasyon Güncelle</a>
                            </div>
                        </div>
                    </div>
                    <!-- /widget detail reservation -->
                    <!-- widget testimonials -->
                    <div class="widget shadow">
                        <div class="widget-title">Yorumlar</div>
                        <div class="testimonials-carousel">
                            <div class="owl-carousel" id="testimonials">
                                <div class="testimonial">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="testimonial-text">Araç şehir dışı kullanım için çok ideal</div>
                                            <div class="testimonial-name">Recep KOÇAK <span class="testimonial-position">Müşteri</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="testimonial-text">Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</div>
                                            <div class="testimonial-name">Bilal Furkan ERTEN <span class="testimonial-position">Müşteri</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="testimonial-text">Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</div>
                                            <div class="testimonial-name">Recep KOÇAK <span class="testimonial-position">Müşteri</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /widget testimonials -->
                    <!-- widget helping center -->
                    <div class="widget shadow widget-helping-center">
                        <h4 class="widget-title">Yardım Merkezİ</h4>
                        <div class="widget-content">
                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
                            <h5 class="widget-title-sub">+90 661 61 61</h5>
                            <p><a href="mailto:support@supportcenter.com">support@supportcenter.com</a></p>
                            <div class="button">
                                <a href="#" class="btn btn-block btn-theme btn-theme-dark">Destek Merkezİ</a>
                            </div>
                        </div>
                    </div>
                    <!-- /widget helping center -->
                </aside>
                <!-- /SIDEBAR -->

            </div>
        </div>
    </section>
    <!-- /PAGE WITH SIDEBAR -->
</div>

