@{
    ViewBag.Title = "Hata";
}
<div class="content-area">
    <!-- PAGE -->
    <section class="page-section text-center error-page light">
        <div class="container">
            <h3>404</h3>
            <h2><i class="fa fa-warning"></i> Hata! Aradığınız sayfa bulunamadı!</h2>
            <p><a class="btn btn-theme btn-theme-dark" href="@Url.Action("Index","Home")">Anasayfaya Dön</a></p>
        </div>
    </section>
    <!-- /PAGE -->
</div>

