
@{
    ViewBag.Title = "Araclar";
}

<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs text-right">
        <div class="container">
            <div class="page-header">
                <h1>Araçlar</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="#">Anasayfa</a></li>
                <li class="active">Araçlar</li>
            </ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE WITH SIDEBAR -->
    <section class="page-section with-sidebar sub-page">
        <div class="container">
            <div class="row">
                <!-- CONTENT -->
                <div class="col-md-9 content car-listing" id="content">

                    <!--Araç Listesi -->

                    <div class="thumbnail no-border no-padding thumbnail-car-card clearfix">
                        <div class="media">
                            <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/car-370x220x5.jpg">
                                <img src="~/Content/img/preview/cars/car-370x220x5.jpg" alt="" />
                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                            </a>
                        </div>
                        <div class="caption">
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                            <h5 class="caption-title-sub">Günlük 70 liradan başlayan fiyatlar</h5>
                            <div class="caption-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet...</div>
                            <table class="table">
                                <tr>
                                    <td><i class="fa fa-car"></i> 2013</td>
                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                    <td><i class="fa fa-road"></i> 25000</td>
                                    <td class="buttons"><a class="btn btn-theme" href="#">KİRALA</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- /Car Listing -->
                    <!-- Pagination -->
                    <div class="pagination-wrapper">
                        <ul class="pagination">
                            <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i> Önceki</a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Sonraki <i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /Pagination -->

                </div>
                <!-- /CONTENT -->
                <!-- SIDEBAR -->
                <aside class="col-md-3 sidebar" id="sidebar">
                    <!-- widget -->
                    <div class="widget shadow widget-find-car">
                        <h4 class="widget-title">Kİralık Araç Bul</h4>
                        <div class="widget-content">
                            <!-- Search form -->
                            <div class="form-search light">
                                <form action="#">
                                    <div class="form-group has-icon has-label">
                                        <label for="formSearchUpLocation3">Teslim Alma Konumu</label>
                                        <input type="text" class="form-control" id="formSearchUpLocation3" placeholder="">
                                        <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                    </div>

                                    <div class="form-group has-icon has-label">
                                        <label for="formSearchOffLocation3">Teslim Etme Konumu</label>
                                        <input type="text" class="form-control" id="formSearchOffLocation3" placeholder="">
                                        <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                    </div>

                                    <div class="form-group has-icon has-label">
                                        <label for="formSearchUpDate3">Teslim Alma Tarihi</label>
                                        <input type="date" class="form-control" id="formSearchUpDate3" placeholder="gg/aa/yyyy">
                                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                    </div>

                                    <div class="form-group has-icon has-label selectpicker-wrapper">
                                        <label>Teslim Alma Saati</label>
                                        <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                data-toggle="tooltip" title="Select">
                                            <option>20:00</option>
                                            <option>21:00</option>
                                            <option>22:00</option>
                                        </select>
                                        <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                    </div>

                                    <div class="form-group selectpicker-wrapper">
                                        <label>Kategori</label>
                                        <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                data-toggle="tooltip" title="Select">
                                            <option>Kategori 1</option>
                                            <option>Kategori 2</option>
                                            <option>Kategori 3</option>
                                        </select>
                                    </div>

                                    @*<div class="form-group selectpicker-wrapper">
                                        <label>Select Type</label>
                                        <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                data-toggle="tooltip" title="Select">
                                            <option>Select Type</option>
                                            <option>Select Type</option>
                                            <option>Select Type</option>
                                        </select>
                                    </div>*@

                                    <button type="submit" id="formSearchSubmit3" class="btn btn-submit btn-theme btn-theme-dark btn-block">Araç Bul</button>

                                </form>
                            </div>
                            <!-- /Search form -->
                        </div>
                    </div>
                    <!-- /widget -->
                    <!-- widget price filter -->
                    <div class="widget shadow widget-filter-price">
                        <h4 class="widget-title">Fiyat Aralığı</h4>
                        <div class="widget-content">
                            <div id="slider-range"></div>
                            <input type="text" id="amount" readonly />
                            <button class="btn btn-theme btn-theme-dark">Filtrele</button>
                        </div>
                    </div>
                    <!-- /widget price filter -->
                    <!-- widget testimonials -->
                    <div class="widget shadow">
                        <div class="widget-title">Yorumlar</div>
                        <div class="testimonials-carousel">
                            <div class="owl-carousel" id="testimonials">
                                <div class="testimonial">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="testimonial-text">Site hem araçlar hakkında bilgi veriyor hem de fiyat karşılaştırması yaparak en uygun aracı kiralamamıza yardımcı oluyor.</div>
                                            <div class="testimonial-name">Recep KOÇAK <span class="testimonial-position">Müşteri</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="testimonial-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</div>
                                            <div class="testimonial-name">Bilal Furkan ERTEN <span class="testimonial-position">Müşteri</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="testimonial-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</div>
                                            <div class="testimonial-name">Recep KOÇAK <span class="testimonial-position">Müşteri</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /widget testimonials -->
                </aside>
                <!-- /SIDEBAR -->

            </div>
        </div>
    </section>
    <!-- /PAGE WITH SIDEBAR -->
</div>
<!-- /CONTENT AREA -->

