
@{
    ViewBag.Title = "Bizimle iletişime geçin";
}

<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs text-center">
        <div class="container">
            <div class="page-header">
                <h1>BİZİMLE İLETİŞİME GEÇİN</h1>
            </div>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-sm-offset-2 text-left">

                    <h2 class="block-title"><span>İLETİŞİM FORMU</span></h2>

                    <!-- Contact form -->
                    <form name="contact-form" method="post" action="#" class="contact-form" id="contact-form">

                        <div class="outer required">
                            <div class="form-group af-inner">
                                <label class="sr-only" for="name">AD SOYAD</label>
                                <input type="text" name="name" id="name" placeholder="AD SOYAD" value="" size="30"
                                       data-toggle="tooltip" title="Name is required"
                                       class="form-control placeholder" />
                            </div>
                        </div>
                        <div class="outer required">
                            <div class="form-group af-inner">
                                <label class="sr-only" for="name">FİRMA ADI</label>
                                <input type="text" name="name" id="name" placeholder="FİRMA ADI" value="" size="30"
                                       data-toggle="tooltip" title="Name is required"
                                       class="form-control placeholder" />
                            </div>
                        </div>
                        <div class="outer required">
                            <div class="form-group af-inner">
                                <label class="sr-only" for="email">Email</label>
                                <input type="text" name="email" id="email" placeholder="EMAIL" value="" size="30"
                                       data-toggle="tooltip" title="Email is required"
                                       class="form-control placeholder" />
                            </div>
                        </div>

                        <div class="outer required">
                            <div class="form-group af-inner">
                                <label class="sr-only" for="subject">KONU</label>
                                <input type="text" name="subject" id="subject" placeholder="KONU" value="" size="30"
                                       data-toggle="tooltip" title="Subject is required"
                                       class="form-control placeholder" />
                            </div>
                        </div>

                        <div class="form-group af-inner">
                            <label class="sr-only" for="input-message">MESAJ</label>
                            <textarea name="message" id="input-message" placeholder="MESAJ" rows="4" cols="50"
                                      data-toggle="tooltip" title="Message is required"
                                      class="form-control placeholder"></textarea>
                        </div>

                        <div class="outer required">
                            <div class="form-group af-inner">
                                <input type="submit" name="submit" class="form-button form-button-submit btn btn-theme btn-theme-dark" id="submit_btn" value="MESAJ GÖNDER" />
                            </div>
                        </div>

                    </form>
                    <!-- /Contact form -->

                </div>

            </div>

        </div>
    </section>
    <!-- /PAGE -->
    @*<!-- PAGE -->
    <section class="page-section no-padding">
        <div class="container full-width">

            <!-- Google map -->
            <div class="google-map">
                <div id="map-canvas"></div>
            </div>
            <!-- /Google map -->

        </div>
    </section>
    <!-- /PAGE -->*@

</div>
<!-- /CONTENT AREA -->

