@{
    ViewBag.Title = "Home Page";
}

<div class="content-area">
    <!-- PAGE -->
    <section class="page-section no-padding slider">
        <div class="container full-width">
            <div class="main-slider">
                <div class="owl-carousel" id="main-slider">
                    <!-- Slide 1 -->
                    <div class="item slide1 ver1">
                        <div class="caption">
                            <div class="container">
                                <div class="div-table">
                                    <div class="div-cell">
                                        <div class="caption-content">
                                            <h2 class="caption-title">KİRALIK ARAÇ BUL</h2>
                                            <h3 class="caption-subtitle"></h3>
                                            <!-- Search form -->
                                            <div class="row">
                                                <div class="col-sm-12 col-md-10 col-md-offset-1">
                                                    <div class="form-search dark">
                                                        <form action="#">
                                                            <div class="form-title">
                                                                <i class="fa fa-globe"></i>
                                                                <h2>Nerede olursanız olun, ucuz kiralık araç bul</h2>
                                                            </div>
                                                            <div class="row row-inputs">
                                                                <div class="container-fluid">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchUpLocation">Teslim Alma Konumu</label>
                                                                            <input type="text" class="form-control" id="formSearchUpLocation" placeholder="">
                                                                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchUpDate">Teslim Alma Tarihi</label>
                                                                            <input type="date" class="form-control" id="formSearchUpDate" placeholder="gg/aa/yyyy">
                                                                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                            <label>Teslim Alma Saati</label>
                                                                            <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                    data-toggle="tooltip" title="Select">
                                                                                <option>20:00</option>
                                                                                <option>21:00</option>
                                                                                <option>22:00</option>
                                                                            </select>
                                                                            <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row row-inputs">
                                                                <div class="container-fluid">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchOffLocation">Teslim Etme Konumu</label>
                                                                            <input type="text" class="form-control" id="formSearchOffLocation" placeholder="">
                                                                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchOffDate">Teslim Etme Tarihi</label>
                                                                            <input type="date" class="form-control" id="formSearchOffDate" placeholder="gg/aa/yyyy">
                                                                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                            <label>Teslim Etme Saati</label>
                                                                            <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                    data-toggle="tooltip" title="Select">
                                                                                <option>20:00</option>
                                                                                <option>21:00</option>
                                                                                <option>22:00</option>
                                                                            </select>
                                                                            <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row row-submit">
                                                                <div class="container-fluid">
                                                                    <div class="inner">
                                                                        <i class="fa fa-plus-circle"></i>
                                                                        <button type="submit" id="formSearchSubmit" class="btn btn-submit btn-theme pull-right">Araç Ara</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /Arama formu -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Slide 1 -->
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow flipInY" data-wow-offset="70" data-wow-duration="1s">
                    <div class="thumbnail thumbnail-featured no-border no-padding">
                        <div class="media">
                            <a class="media-link" href="#">
                                <div class="caption">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <div class="caption-icon"><i class="fa fa-support"></i></div>
                                            <h4 class="caption-title">7/24 Araç Desteğİ</h4>
                                            <div class="caption-text"></div>
                                            <div class="buttons">
                                                <span class="btn btn-theme ripple-effect btn-theme-transparent">Devamı</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption hovered">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <div class="caption-icon"><i class="fa fa-support"></i></div>
                                            <h4 class="caption-title">7/24 Araç Desteğİ</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow flipInY" data-wow-offset="70" data-wow-duration="1s" data-wow-delay="200ms">
                    <div class="thumbnail thumbnail-featured no-border no-padding">
                        <div class="media">
                            <a class="media-link" href="#">
                                <div class="caption">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <div class="caption-icon"><i class="fa fa-calendar"></i></div>
                                            <h4 class="caption-title">Rezervasyon</h4>
                                            <div class="caption-text"></div>
                                            <div class="buttons">
                                                <span class="btn btn-theme ripple-effect btn-theme-transparent">Devamı</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption hovered">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <div class="caption-icon"><i class="fa fa-calendar"></i></div>
                                            <h4 class="caption-title">Rezervasyon</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow flipInY" data-wow-offset="70" data-wow-duration="1s" data-wow-delay="400ms">
                    <div class="thumbnail thumbnail-featured no-border no-padding">
                        <div class="media">
                            <a class="media-link" href="#">
                                <div class="caption">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <div class="caption-icon"><i class="fa fa-map-marker"></i></div>
                                            <h4 class="caption-title">Bİrçok Şehİr</h4>
                                            <div class="caption-text"></div>
                                            <div class="buttons">
                                                <span class="btn btn-theme ripple-effect btn-theme-transparent">Devamı</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption hovered">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <div class="caption-icon"><i class="fa fa-map-marker"></i></div>
                                            <h4 class="caption-title">Bİrçok Şehİr</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">

            <h2 class="section-title wow fadeInUp" data-wow-offset="70" data-wow-delay="100ms">
                <small></small>
                <span></span>
            </h2>

            <div class="tabs wow fadeInUp" data-wow-offset="70" data-wow-delay="300ms">
                <ul id="tabs" class="nav">
                    <!--
                    -->
                    <li class=""><a href="#tab-1" data-toggle="tab">En Uygun Araçlar</a></li>
                    <!--
                    -->
                    <li class="active"><a href="#tab-2" data-toggle="tab">PopÜler AraÇlar</a></li>
                    <!--
                    -->
                    <li class=""><a href="#tab-3" data-toggle="tab">Ekonomİk AraÇlar</a></li>
                </ul>
            </div>

            <div class="tab-content wow fadeInUp" data-wow-offset="70" data-wow-delay="500ms">

                <!-- tab 1 -->
                <div class="tab-pane fade" id="tab-1">

                    <div class="swiper swiper--offers-best">
                        <div class="swiper-container">

                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x1.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x1.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x2.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x2.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x3.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x3.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x4.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x4.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
                        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>

                    </div>

                </div>

                <!-- tab 2 -->
                <div class="tab-pane fade active in" id="tab-2">

                    <div class="swiper swiper--offers-popular">
                        <div class="swiper-container">

                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x1.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x1.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x2.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x2.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x3.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x3.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x4.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x4.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
                        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>

                    </div>

                </div>

                <!-- tab 3 -->
                <div class="tab-pane fade" id="tab-3">

                    <div class="swiper swiper--offers-economic">
                        <div class="swiper-container">

                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x1.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x1.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x2.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x2.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x3.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x3.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/Content/img/preview/cars/car-370x220x4.jpg">
                                                <img src="~/Content/img/preview/cars/car-370x220x4.jpg" alt="" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="#">VW POLO TRENDLINE 2.0 TDI</a></h4>
                                            <div class="caption-text">Günlük 70 liradan başlayan fiyatlar</div>
                                            <div class="buttons">
                                                <a class="btn btn-theme ripple-effect" href="#">Kİrala</a>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td><i class="fa fa-car"></i> 2013</td>
                                                    <td><i class="fa fa-dashboard"></i> Dizel</td>
                                                    <td><i class="fa fa-cog"></i> Otomatik</td>
                                                    <td><i class="fa fa-road"></i> 25000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
                        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- /PAGE -->
    <!-- Yorumlar -->
    <section class="page-section testimonials">
        <div class="container wow fadeInUp" data-wow-offset="70" data-wow-delay="500ms">
            <div class="testimonials-carousel">
                <div class="owl-carousel" id="testimonials">
                    <div class="testimonial">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object testimonial-avatar" src="~/Content/img/preview/avatars/testimonial-140x140x1.jpg" alt="Testimonial avatar">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="testimonial-text">Site hem araçlar hakkında bilgi veriyor hem de fiyat karşılaştırması yaparak en uygun aracı kiralamamıza yardımcı oluyor.</div>
                                <div class="testimonial-name">Recep KOÇAK <span class="testimonial-position">Müşteri</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object testimonial-avatar" src="~/Content/img/preview/avatars/testimonial-140x140x1.jpg" alt="Testimonial avatar">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="testimonial-text">Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</div>
                                <div class="testimonial-name">Bilal Furkan ERTEN <span class="testimonial-position">Müşteri</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object testimonial-avatar" src="~/Content/img/preview/avatars/testimonial-140x140x1.jpg" alt="Testimonial avatar">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="testimonial-text">Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</div>
                                <div class="testimonial-name">Recep KOÇAK <span class="testimonial-position">Müşteri</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Yorumlar -->
    <!-- PAGE -->
    <section class="page-section image">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
                    <div class="thumbnail thumbnail-counto no-border no-padding">
                        <div class="caption">
                            <div class="caption-icon"><i class="fa fa-heart"></i></div>
                            <div class="caption-number">5657</div>
                            <h4 class="caption-title">Memnun Müşterİ</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="200ms">
                    <div class="thumbnail thumbnail-counto no-border no-padding">
                        <div class="caption">
                            <div class="caption-icon"><i class="fa fa-car"></i></div>
                            <div class="caption-number">657</div>
                            <h4 class="caption-title">Toplam Araç</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">
                    <div class="thumbnail thumbnail-counto no-border no-padding">
                        <div class="caption">
                            <div class="caption-icon"><i class="fa fa-flag"></i></div>
                            <div class="caption-number">1.255.657</div>
                            <h4 class="caption-title">Toplam KM</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="400ms">
                    <div class="thumbnail thumbnail-counto no-border no-padding">
                        <div class="caption">
                            <div class="caption-icon"><i class="fa fa-comments-o"></i></div>
                            <div class="caption-number">1255</div>
                            <h4 class="caption-title">Yorum</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section no-padding no-bottom-space-off">
        <div class="container full-width">

            <!-- Google map -->
            <div class="google-map">
                <div id="map-canvas"></div>
            </div>
            <!-- /Google map -->

        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    @*<section class="page-section image subscribe">
        <div class="container">
            <h2 class="section-title wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
                <small>You Can Follow Us By E Mail</small>
                <span>Subscrıbe</span>
            </h2>
            <div class="row wow fadeInDown" data-wow-offset="200" data-wow-delay="200ms">
                <div class="col-md-8 col-md-offset-2">

                    <p class="text-center">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

                    <!-- Subscribe form -->
                    <form action="#" class="form-subscribe">
                        <div class="form-group">
                            <label for="formSubscribeEmail" class="sr-only">Enter your email here</label>
                            <input type="text" class="form-control" id="formSubscribeEmail" placeholder="Enter your email here" title="Email is required">
                        </div>
                        <button type="submit" class="btn btn-submit btn-theme ripple-effect btn-theme-dark">Subscribe</button>
                    </form>
                    <!-- Subscribe form -->
                </div>
            </div>
        </div>
    </section>*@
    <!-- /PAGE -->
</div>
<!-- /CONTENT AREA -->